@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

body{
    font-family: 'inter', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 23px #263926;
}

.mediaCard {
    background: url("https://i.pinimg.com/originals/d8/6d/d4/d86dd47ca559f5aa83c16f3c1b0038c8.jpg") center/cover;
    width: 100%;
    height: 400px;
}

.top-card{
    padding: 20px;
    padding-top: 0px;
}

.title{
    color: #2b1459;
}

.secondTex{
    color: #828fa1;
}

.bottonCard {
    padding: 20px;
}

.bottonText{
    color: #445b73;
}
.actions {
    background: none;
    border: none;
    color: #ccc;
}
@media only screen and (max-width: 950px){ /* responsividade desktop */

    body{
        
        margin: 0px 30px;
    }